<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings> 
        <setting name="cacheEnabled" value="false" /> 
          <setting name="localCacheScope" value="STATEMENT"/>
    </settings>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver" />
				<property name="url" value="jdbc:oracle:thin:@25.27.46.133:1521:xe" />
				<property name="username" value="c##hugeman" />
				<property name="password" value="1111" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<!-- mapper위치 지정하기 -->
		<mapper resource="com/ict5/db/mapper.xml" />
	</mappers>
</configuration>