<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ict5.db.DAO">

	<select id="getMemberList" resultType="com.ict5.db.VO">
		select * from MEMBER_T
		order by member_num desc
	</select>

	<select id="loginChk" parameterType="com.ict5.db.VO"
		resultType="com.ict5.db.VO">
		select * from
		MEMBER_T where member_id = #{member_id} and
		member_pw=#{member_pw}
	</select>

	<select id="getNotice" resultType="com.ict5.db.VO">
		select * from notice order by
		notice_num desc
	</select>

	<select id="getClassList" resultType="com.ict5.db.VO">
		select * from class order
		by notice_num desc
	</select>
	
	<select id="getBookedClass" parameterType="com.ict5.db.VO"
		resultType="com.ict5.db.VO">
		select * from bookedclass where member_num = #{member_num}
		order by book_date desc
	</select>
	<select id="loginChk_Admin" parameterType="com.ict5.db.VO" resultType="com.ict5.db.VO">
		select * from
		ADMIN_T where admin_id = #{admin_id} and admin_pw=#{admin_pw}
	</select>
	
	<select id="todayclass" resultType="com.ict5.db.VO">
		SELECT * FROM CLASS_TEACHER WHERE class_date = TRUNC(SYSDATE)
	</select>
	
		
	<select id="mostclose" parameterType="com.ict5.db.VO"
		resultType="com.ict5.db.VO">
		select * from bookedclass where member_num = #{member_num}
		and rownum = 1
	</select>

	<!--  <select id="t_bookclass" parameterType="com.ict5.db.VO" resultType="com.ict5.db.VO">
		 select * from class where class_num in (select class_num from book where member_num =1) and class_date = TRUNC(SYSDATE)
	</select>-->
	<select id="sel_date_class" parameterType="com.ict5.db.VO"  resultType="com.ict5.db.VO"><!-- cmd :2302 / 
	선택된 날에 무슨 수업이 있는지 조회하기 위한 코드-->
		select *
   	 	from class c, teacher t
    	where c.teacher_num = t.teacher_num and  class_date = TO_DATE(#{class_date},'yyyyMMdd')
	</select>
	
	<select id="getPointList" parameterType="com.ict5.db.VO" resultType="com.ict5.db.VO">
		select * from point where member_num = #{member_num}
	</select>
		
	<select id="getCoachList" resultType="com.ict5.db.VO">
		select * from teacher 
	 	where use_yn = 'Y'
		order by teacher_num 
	</select>

	<select id="getPoint" resultType="com.ict5.db.VO">
		select * from point order by
		point_num
	</select>

	<select id="getMemberSearch" parameterType="com.ict5.db.VO"
		resultType="com.ict5.db.VO">
		select * from MEMBER_T where member_name =#{member_name}
	</select>
	
	<select id="sel_book_class" parameterType="com.ict5.db.VO"  resultType="com.ict5.db.VO"><!-- cmd :2304 / 
	선택된 날에 무슨 수업이 있는지 조회하기 위한 코드-->
		SELECT *
		FROM class c
		INNER JOIN teacher t ON c.teacher_num = t.teacher_num
		WHERE c.class_date = TO_DATE(#{class_date}, 'YYYY-MM-DD')
		AND c.class_num IN (SELECT class_num FROM book WHERE member_num = #{member_num})
	</select>
	
	<!-- 작성중인 쿼리
	 select *
from class c  where  c.class_date = TO_DATE(20230708,'yyyyMMdd') and c.class_num in (select class_num from book where member_num=2);
	선택된 날짜와 선택한 사용자의 member_num을 통해서 검색
	검색할 항목 : t.name / c.class_type / c.class_time / c.res / c.max / c.class_room / 
	 -->
	 
	<insert id="getInsert_attenedent" parameterType="com.ict5.db.VO">
		insert into ATTENDENT values(ATTENDENT_SEQ.nextval,TRUNC(SYSDATE),#{class_num},#{member_num})
	</insert>
	<insert id="getInsert_book" parameterType="com.ict5.db.VO"><!-- cmd : 2303 / 회원이 수업을 예약하기 위한 구문 -->
		insert into book (book_num,book_date,class_num,member_num)
		values(book_seq.nextval,TRUNC(SYSDATE),#{class_num},#{member_num})
	</insert>
	
	<select id="getMemberOne" parameterType="com.ict5.db.VO"
		resultType="com.ict5.db.VO">
		select * from MEMBER_T where member_num =#{member_num}
	</select>

	<insert id="teacherIns" parameterType="com.ict5.db.VO">
		insert into teacher(
							teacher_num,
							teacher_name,
							teacher_phone,
							teacher_addr,
							teacher_gen,
							teacher_career,
							teacher_img,
							teacher_type,
							use_yn)
		values(
							teacher_seq.nextval,
							#{teacher_name},
							#{teacher_phone},
							#{teacher_addr},
							#{teacher_gen},
							#{teacher_career},
							#{teacher_img},
							#{teacher_type},
							'Y')
	</insert>
	
	<insert id="insertMember" parameterType="com.ict5.db.VO">
 		 insert into MEMBER_T (
  		 	member_num, member_id, member_name, member_gen, member_birth,
    		member_signup_date, member_addr, member_pw, member_mail,
    		member_point, member_chargep, member_usep, member_phone)
  		values (
   	 		member_t_seq.nextval, #{member_id}, #{member_name}, #{member_gen},
   	 		TO_DATE(#{member_birth}, 'YYYY-MM-DD HH24:MI:SS'), TO_DATE(#{member_signup_date}, 'YYYY-MM-DD HH24:MI:SS'),
    		#{member_addr}, #{member_pw}, #{member_mail}, 50000, null, null, #{member_phone})
	</insert>

	<insert  id="inNotice" parameterType="com.ict5.db.VO">
	insert into notice(
						notice_num,
						notice_text)
	values(
			notice_seq.nextval, 
			#{notice_text})
	</insert>
	
	<select id="getApproveList" resultType="com.ict5.db.VO">
		select m.member_num, m.member_name, m.member_id, m.member_phone, m.member_point, a.point_money, a.point_signup_date, a.point_charge_date
		from member_t m,  pointapprove a
		where m.member_num = a.member_num
	</select>
	
	<select id="getTeacherOne" parameterType="com.ict5.db.VO"
		resultType="com.ict5.db.VO">
		select * from Teacher where teacher_num =#{teacher_num}
	</select>
	
	<select id="searchTeacherName" parameterType="com.ict5.db.VO"
		resultType="com.ict5.db.VO">
		select * from teacher where teacher_name =#{teacher_name}
	</select>
	
	<select id="getTeacherClass" parameterType="com.ict5.db.VO"
		resultType="com.ict5.db.VO">
		select class_res,class_room,class_date,class_time from class where teacher_num = #{teacher_num}
	</select>
	
	<update id="getDeleteTeacher" parameterType="com.ict5.db.VO">
		update teacher 
		set  use_yn = 'N'
		where teacher_num=#{teacher_num}
	</update>
	
	<update id="getTeacherEdit" parameterType="com.ict5.db.VO">
		update teacher
		set teacher_name =#{teacher_name},
    		teacher_phone=#{teacher_phone},
    		teacher_addr=#{teacher_addr},
    		teacher_gen=#{teacher_gen},
    		teacher_career=#{teacher_career},
    		teacher_img=#{teacher_img},
    		teacher_type=#{teacher_type},
		where teacher_num=#{teacher_num}
	</update>
</mapper>