<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ict5.db.DAO">

	<select id="memberlist" resultType="com.ict5.db.VO">
		select * from MEMBER_T
	</select>

	<select id="loginChk" parameterType="com.ict5.db.VO" resultType="com.ict5.db.VO">
		select * from
		MEMBER_T where member_id = #{member_id} and member_pw=#{member_pw}
	</select>

	<select id="getNotice" resultType="com.ict5.db.VO">
		select * from notice order by
		notice_num desc
	</select>

	<select id="getClassList" resultType="com.ict5.db.VO">
		select * from class order
		by notice_num desc
	</select>
	<select id="mostclose" parameterType="com.ict5.db.VO" resultType="com.ict5.db.VO">
		select * from bookedclass where member_num = #{member_num} and rownum = 1
	</select>
	<select id="t_bookclass" parameterType="com.ict5.db.VO" resultType="com.ict5.db.VO">
		 select * from class where class_num in (select class_num from book where member_num =1) and class_date = TRUNC(SYSDATE)
	</select>
	<select id="sel_date_class" parameterType="com.ict5.db.VO"  resultType="com.ict5.db.VO">
		select *
   	 	from class c, teacher t
    	where c.teacher_num = t.teacher_num and  class_date = TO_DATE(#{class_date},'yyyymmdd')
	</select>
	
	<select id="getCoachList" resultType="com.ict5.db.VO">
		select * from teacher order by teacher_num
	</select>
	
</mapper>